{% if content %}
  <div {{ attributes.addClass('learning-onecolumn-layout') }}>
    {% if content.main %}
      <div {{ region_attributes.main.addClass('learning-onecolumn-content-main') }}>
        {{ content.main }}
      </div>
    {% endif %}
    {% if content.sidebar %}
      <div {{ region_attributes.sidebar.addClass('learning-onecolumn-sidebar') }}>
        {{ content.sidebar }}
      </div>
    {% endif %}
  </div>
{% endif %}
